@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.2/font/bootstrap-icons.css");
:root {
    --bg-color: #19142a;
    --red-color: #d5213a;
    --white-color: #fff;
    --violet-color: #2a2344;
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Nunito Sans', sans-serif;
}

body {
    background-color: var(--bg-color);
    color: var(--white-color);
}

.header, .navBar ul, .logo, .hero, .flex-box {
    display: flex;
}

.header, .logo {
    align-items: center;
}

.header {
    justify-content: space-between;
    width: 90%;
    margin: 0 auto;
    padding: 20px;
}

.logo {
    align-items: inherit;
}

.img-logo {
    max-width: 70px;
    width: 100%;
}

.navBar li {
    list-style: none;
}

.navBar a {
    text-decoration: none;
    color: var(--white-color);
    padding: 10px;
    font-size: 1.2rem;
}

.link-hover:hover, .active {
    background-color: var(--red-color);
    border-radius: 5px;
}

.navBar ul {
    gap: 30px;
}

.container {
    width: 90%;
    margin: 0 auto;
}

.hero {
    align-items: center;
    height: 90vh;
}

.hero-title {
    padding: 20px 0;
}

.hero-txt {
    width: 50%;
}

.hero-parap1 {
    font-size: 5rem;
}

.hero-parap1 span {
    color: var(--red-color);
}

.hero-parap2 {
    width: 70%;
    line-height: 1.8;
}

.hero-img {
    margin: 0 auto;
}

.hero-txtY {
    font-size: 2rem;
    color: var(--red-color);
    transform: rotate(90deg);
}

.intro-section {
    width: 100%;
    background-color: var(--violet-color);
    padding: 30px;
}

i {
    font-size: 3rem;
    color: var(--red-color);
}

.box {
    width: 200px;
    text-align: center;
    border: 4px dotted var(--red-color);
    padding: 30px;
    border-top-right-radius: 70px;
    border-bottom-left-radius: 70px;
}

.flex-box {
    justify-content: center;
    gap: 40px;
}

.work-section {
    padding: 30px;
}

.section-title {
    text-align: center;
    padding: 40px;
    font-size: 2.5rem;
}





